@import url(../css/nullstyle.css);
html, body {
  height: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1180px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100%;
  background-color: aquamarine;
  height: 80px;
}
.header:before {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  flex: 0 0 60px;
  padding-top: 10px;
}
.header__img img {
  max-width: 100%;
  display: block;
  border-radius: 50%;
}
.header__burger {
  display: none;
}
.header__list {
  display: flex;
}
.header__link {
  color: brown;
  font-style: italic;
  font-size: 20px;
  padding-left: 15px;
}

.block {
  padding-top: 100px;
}

.block__text {
  font-size: 34px;
}