@import url(../css/nullstyle.css);
html,body{
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}
.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    position: fixed;
    width: 100%;
    background-color: aquamarine;
    height: 80px;
    z-index: 4;
    &:before{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
    &__img{
        flex: 0 0 60px;
        padding-top: 10px;
        img{
            max-width: 100%;
            display: block;
            border-radius: 50%;
        }
    }
    &__burger{
        display: none;
        @media (max-width:767px) {
            display: block;
            height: 20px;
            width: 30px;
            position: relative;
            z-index: 3;
            span{
                height: 2px;
                background-color: black;
                width: 100%;
                position: absolute;
                &:last-child{
                    top: 9px;
                }
                &:first-child{
                    bottom: 0;
                }
            }
        }
    }
    &__menu{
        @media (max-width:767px) {
            position: absolute;
            top: -100%;
            width: 100%;
            height: 100%;
            
        }
    }
    &__list{
        display: flex;
    }
    &__link{
        color: brown;
        font-style: italic;
        font-size: 20px;
        padding-left: 15px;
    }
}
@media (max-width:767px) {

}






.block {
    padding-top: 100px;
}
.container {
}
.block__item {
}
.block__title {
}
.block__text {
    font-size: 34px;
}