html,body{
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.wrapper {
    height: 100%;
    padding: 50px;
}
.block {
}
.block__item {
    margin-bottom: 20px;
}
.block__title {
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}
.block__text {
    padding-top: 10px;
    display: none;
}
.block__title:before,
.block__title:after {
    content: '';
    height: 2px;
    width: 10px;
    background-color: #000;
    position: absolute;
    top: 8px;
}
.block__title:before{
    transform: rotate(40deg);
    left: 0;
}
.block__title:after{
    transform: rotate(-40deg);
    left: 6px;
}